DATA_ROOT=/data
PROJECT_SLUG=riyan

MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=riyan_nextjs
MYSQL_USER=riyan_user
MYSQL_PASSWORD=change-me

DIRECTUS_KEY=change-me-32-chars-min
DIRECTUS_SECRET=change-me-32-chars-min
DIRECTUS_ADMIN_EMAIL=admin@riyan.com.mv
DIRECTUS_ADMIN_PASSWORD=ChangeThisPassword123!
DIRECTUS_PUBLIC_URL=https://directus-your-funnel.ts.net
DIRECTUS_CORS_ORIGIN=https://site-your-funnel.ts.net,https://directus-your-funnel.ts.net
DIRECTUS_EXTENSIONS_PATH=/directus/extensions
DIRECTUS_TOKEN=
DIRECTUS_ABOUT_CAROUSEL_FOLDER_ID=a0999f8d-a585-4b92-9f9f-9a6e910782a7

NEXT_PUBLIC_SITE_URL=https://site-your-funnel.ts.net
NEXT_PUBLIC_DIRECTUS_URL=https://directus-your-funnel.ts.net
REVALIDATE_SECRET=change-me
